.produtosContainer {
  background-color: var(--third-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin: 20px auto;
  width: 100%;
  max-width: 1700px;
  min-height: 79vh;
  border-top-left-radius: 20px; /* Arredonda o canto superior direito */
  border-bottom-left-radius: 20px; /* Arredonda o canto inferior direito */
}

.produtosTitle {
  text-align: center;
  color: var(--text-color);
  margin-bottom: var(--padding);
  font-size: 24px;
}

.produtosTable {
  background-color: var(--third-color);
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  font-size: 14px; /* Altere para 14px para manter consistência com vendas */
  margin-top: 20px;
}

.produtosTable th, .produtosTable td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid var(--background-color);
}

.produtosTable th {
  background-color: var(--container-color);
  color: var(--text-color);
}

.produtosTable tr:hover {
  background-color: var(--hover-color); /* Mantém o mesmo estilo de hover */
  color: var(--text-color);
}

.produtosTable tr:nth-child(even) {
  background-color: var(--secondary-color);
}

.produtosTable tr:nth-child(odd) {
  background-color: var(--third-color);
}

.produtoImage {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}
