.produtosTitle {
  text-align: center;
  color: var(--text-color);
  margin-bottom: 20px;
  font-size: 24px;
}

.produtosTable {
  background-color: var(--third-color);
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  font-size: 14px;
  margin-top: 20px;
}

.produtosTable th, .produtosTable td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid var(--background-color);
}

.produtosTable th {
  background-color: var(--container-color);
  color: var(--text-color);
}

.produtosTable tr:hover {
  background-color: var(--hover-color);
  color: var(--text-color);
}

.produtosTable tr:nth-child(even) {
  background-color: var(--secondary-color);
}

.produtosTable tr:nth-child(odd) {
  background-color: var(--third-color);
}

.produtoImage {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

/* Estilos para Botões de Adicionar Produto e Kit */
.buttonContainer {
  display: flex;
  gap: 10px;
}

.addProductButton, .addKitButton {
  background-color: var(--secondary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.addProductButton:hover, .addKitButton:hover {
  background-color: var(--primary-dark);
}

/* Seção de Filtro */
.filterWrapper {
  display: flex;
  justify-content: space-between; /* Garante que a busca e os botões fiquem nas extremidades */
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.filterSection {
  width: 100%;
  max-width: 600px; /* Limite de largura do campo de busca */
}

.filterSection input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--background-color);
  background-color: var(--secondary-color);
  color: var(--text-color);
  width: 100%;
}

.produtoRow {
  cursor: pointer;
  transition: background-color 0.3s;
}

.produtoRow:hover {
  background-color: var(--hover-color); /* Cor de hover */
}

.produtoDetails {
  background-color: var(--secondary-color);
  animation: slideDown 0.3s ease-in-out;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.detailsContainer {
  padding: 10px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.produtoImage {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}


/* Media Queries para Responsividade */
@media (max-width: 768px) {
  .produtosContainer {
    padding: 15px;
    width: 100%;
  }

  .produtosTitle {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .produtosTable th, .produtosTable td {
    font-size: 12px;
    padding: 10px;
  }

  .addProductButton, .addKitButton {
    font-size: 14px;
    padding: 8px 16px;
  }

  .filterWrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .buttonContainer {
    justify-content: flex-start;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .produtosTitle {
    font-size: 18px;
  }

  .produtosTable th, .produtosTable td {
    font-size: 10px;
  }

  .addProductButton, .addKitButton {
    font-size: 12px;
    padding: 6px 12px;
  }

  .filterWrapper {
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .produtosTable th:nth-child(6),
  .produtosTable td:nth-child(6),
  .produtosTable th:nth-child(7),
  .produtosTable td:nth-child(7),
  .produtosTable th:nth-child(8),
  .produtosTable td:nth-child(8),
  .produtosTable th:nth-child(9),
  .produtosTable td:nth-child(9) {
    display: none;
  }
}
