.title {
    text-align: center;
    color: var(--text-color);
    margin-bottom: 30px;
    font-size: 24px;
}

/* Container dos botões de duração */
.durationButtons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

/* Estilo padrão dos botões de duração */
.durationButton {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: #202123; /* Cor de fundo padrão */
    color: var(--text-color); /* Cor do texto padrão */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Transição suave para cor de fundo e texto */
}

/* Estilo quando o botão está ativo */
.durationButton.active {
    background-image: linear-gradient(135deg, #00d9ff, var(--primary-color)); /* Gradiente de cor para botão ativo */
    color: white; /* Cor do texto quando ativo */
}

/* Estilo quando o botão está em hover */
.durationButton:hover {
    background-image: linear-gradient(135deg, #00d9ff, var(--primary-color)); /* Gradiente de cor ao passar o mouse */
    color: white; /* Cor do texto ao passar o mouse */
}
