.tokensList {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.tokenItem {
    padding: 30px; /* Aumentando o padding do card */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra mais intensa */
    width: 250px; /* Largura do card */
    height: 400px; /* Aumentando a altura do card */
    text-align: center;
    cursor: pointer;
    background-color: var(--secondary-color);
    position: relative; /* Para a tag "Popular" */
    margin-top: 50px; /* Aumentando a margem superior para empurrar o card para baixo */
}

/* Estilo para o token popular */
.popular {
    border: 2px solid gold; /* Borda dourada para o token popular */
}

/* Nome do Token */
.tokenName {
    font-size: 22px;
    color: var(--text-color);
    margin-bottom: 10px;
}

/* Preço do Token */
.tokenPrice {
    font-size: 20px;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.installmentText {
    font-size: 16px;
    color: gray; /* Cor para o texto de parcelamento */
}

/* Ajustando o botão "Comprar" */
.buyButton {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: var(--third-color);
    color: var(--text-color);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute; /* Para posicionar à esquerda */
    left: 10px; /* Distância da esquerda */
    bottom: 20px; /* Distância da parte inferior (ajustado para baixo) */
}

.buyButton:hover {
    background-color: var(--hover-color); /* Cor de fundo ao passar o mouse */
}

/* Estilo da tag "Popular" */
.popularTag {
    position: absolute;
    bottom: 10px; /* Distância da parte inferior */
    right: 10px; /* Distância da direita */
    background-color: gold;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}

/* Estilo para informações de uso */
.usageInfo {
    margin: 15px 0; /* Margem para separar das outras seções */
    font-size: 14px; /* Tamanho da fonte para informações */
    color: var(--text-color); /* Cor do texto */
    text-align: left; /* Alinhando o texto à esquerda */
}

.usageInfo h4 {
    margin: 5px 0; /* Margem para os títulos */
    font-size: 16px; /* Tamanho da fonte dos títulos */
    color: var(--primary-color); /* Cor dos títulos */
}

.usageInfo ul {
    list-style-type: disc; /* Estilo da lista */
    padding-left: 20px; /* Indentação para a lista */
}
