/* AdditionalInfo.module.css */

.additionalInfo {
    display: flex;
    gap: 15px;
    padding: 15px;
    background-color: var(--background-color);
    border-radius: 8px;
    margin-top: 15px;
}

.topSellersContainer,
.marketplaceContainer {
    flex: 1;
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
    justify-content: center;
}

.header h3 {
    font-size: 1.2em;
    color: var(--text-color);
}

.monthFilter {
    padding: 4px;
    font-size: 0.9em;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    background-color: var(--secondary-color);
    color: var(--text-color);
    cursor: pointer;
}

.productList {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.productItem {
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    font-size: 15px;
}

.productImage {
    width: 60px;
    height: 60px;
    background-color: #f5f5f5;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    font-size: 20px;
}

.productDetails {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.productName {
    font-size: 1em;
    color: var(--text-color);
    font-weight: bold;
    margin-bottom: 3px;
}

.productInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    gap: 10px;
}

.fixedContainerWithIcon {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 150px;
    height: 25px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 0.85em;
    padding: 4px;
}

.icon {
    font-size: 15px;
}

.cancelledInfo {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.productTypeBreakdown {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding-top: 5px;
}

.catalogQuantity,
.traditionalQuantity {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    font-size: 0.85em;
}

.catalogIcon {
    color: #4A90E2;
    font-size: 15px;
}

.traditionalIcon {
    color: #A9A9A9;
    font-size: 15px;
}

.cancelledIcon {
    color: #E74C3C;
    font-size: 15px;
}

.blurred {
    filter: blur(8px);
    transition: filter 0.3s ease;
}

.blurControls {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
