/* Container geral da página */
.storesContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    background-color: var(--secondary-color);

}

/* Detalhes da loja */
.storeDetails {
    margin-top: 20px;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 600px;
}

/* Header da loja - Nome da loja e status */
.storeContainerHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

/* Título da loja */
.storeTitle {
    text-align: center;
    color: var(--text-color);
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Total de Vendas - Exibe abaixo do título da loja */
.metricTitle {
    font-size: 15px;
    font-weight: bold;
    color: var(--text-color);
    margin-top: 15px;
    margin-bottom: 10px;
}

/* Exibir as vendas completas nos últimos 60 dias */
.totalSales {
    font-size: 18px;
    color: var(--text-color);
    margin-bottom: 15px;
}

/* Status Mercado Líder (Gold, Silver, Platinum) */
.storeStatus {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    width: 100%;
}

.storeStatusText {
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

/* Status Power Seller */
.powerSellerGold {
    color: #FFD700;
    font-weight: bold;
}

.powerSellerSilver {
    color: #C0C0C0;
    font-weight: bold;
}

.powerSellerPlatinum {
    color: #b9f2ff;
    font-weight: bold;
}

.storeStatusText img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

/* Termômetro de Nível */
.thermometerContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.thermometerBlock {
    width: 18%;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

/* Rank 1 (Vermelho claro) */
.thermometerRank1 {
    background-color: #FDE2E5;
}

/* Rank 2 (Laranja claro) */
.thermometerRank2 {
    background-color: #FFEBE1;
}

/* Rank 3 (Amarelo claro) */
.thermometerRank3 {
    background-color: #FFFCDB;
}

/* Rank 4 (Verde claro) */
.thermometerRank4 {
    background-color: #F3FADE;
}

/* Rank 5 (Verde escuro - destaque para o nível 5) */
.thermometerRank5 {
    background-color: #00A650;
}

.thermometerBlock.active {
    background-color: var(--primary-color);
}

/* Containers para as métricas (Reclamações, Cancelamentos, etc.) */
.metricContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    margin-top: 20px;
    background-color: var(--secondary-color);

}

/* Container para cada métrica */
.metric {
    background-color: var(--background-color);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 23%;
    text-align: center;
}

/* Valor da métrica */
.metricValue {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
}

/* Rótulo da métrica */
.metricLabel {
    font-size: 14px;
    color: var(--secondary-text-color);
    margin-top: 5px;
}
