/* Container geral da página */
.storesContainer {
    padding: 20px;
    display: flex;
    justify-content: space-between;  /* Garante que os containers fiquem lado a lado */
    width: 100%;
    background-color: var(--secondary-color);
}

/* Container da loja - Esquerda */
.storeContainerHeader {
    width: 48%;  /* 50% - Um pequeno espaço de margem entre os dois containers */
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* Container de Reputação - Direita */
.reputationContainer {
    width: 48%;  /* 50% - Fica lado a lado com a loja */
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* Container para as métricas (Visitas, Reclamações, etc.) */
.metricsContainer {
    width: 100%;
    margin-top: 30px;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* Título do Container de Métricas */
.metricsContainer .metricTitle {
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 15px;
}

/* Exibição do Total de Visitas */
.metricsContainer .metricValue {
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);
}

/* Detalhes da loja */
.storeDetails {
    margin-top: 20px;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 600px;
}

/* Header da loja - Nome da loja e status */
.storeTitle {
    text-align: center;
    color: var(--text-color);
    font-size: 24px;
    margin-bottom: 0px;
    font-weight: bold;
}

/* Total de Vendas - Exibe abaixo do título da loja */
.totalSales {
    font-size: 16px;
    color: var(--text-color);
    margin-bottom: 15px;
}

/* Status Mercado Líder (Gold, Silver, Platinum) */
.storeStatus {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin-top: -20px;
    width: 100%;
}

.storeStatusText {
    font-size: 22px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: #00A650;
}

/* Termômetro de Nível */
.thermometerContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.thermometerBlock {
    width: 18%;
    height: 15px;
    background-color: #e0e0e0;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    margin-top: -20px;
}

.thermometerRank1 {
    background-color: #FDE2E5;
}

.thermometerRank2 {
    background-color: #FFEBE1;
}

.thermometerRank3 {
    background-color: #FFFCDB;
}

.thermometerRank4 {
    background-color: #F3FADE;
}

.thermometerRank5 {
    background-color: #00A650;
}

.thermometerBlock.active {
    background-color: var(--primary-color);
}

/* Containers para as métricas (Reclamações, Cancelamentos, etc.) */
.metricContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
    margin-top: 20px;
    background-color: var(--secondary-color);
}

/* Container para cada métrica */
.metric {
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
    position: relative;
}

/* Valor da métrica */
.metricValue {
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);
    margin-top: 10px;
}

/* Rótulo da métrica */
.metricLabel {
    font-size: 12px;
    color: var(--secondary-text-color);
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* Alinhando o ícone no canto superior esquerdo, mas dentro do título */
.metricIconContainer {
    display: inline-flex;
    align-items: center;
}

.metricIconContainer svg {
    font-size: 16px;
    color: var(--text-color);
}

/* Novo Container de Métricas */
.newMetricsContainer {
    width: 100%;
    max-width: 100%;
    margin-top: 30px;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
