.topBar {
    position: fixed; /* Torna a TopBar fixa */
    top: 70px; /* Distância do topo da tela igual à altura do Header */
    left: 60; /* Alinha a TopBar à direita do Sidebar */
    width: calc(98% - var(--sidebar-width)); /* Ocupa toda a largura restante da tela */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: var(--margin);
    margin-bottom: var(--margin);
    padding-top: 5px; /* Distância do header */
    background-color: var(--secondary-color); /* Cor de fundo */
    z-index: 999; /* Garante que a TopBar fique acima de outros elementos */
}

.topBarItem {
    background: var(--background-color);
    padding: var(--padding);
    border-radius: 10px;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s, box-shadow 0.2s;
    height: 80px;
}

.topBarItem:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.topBarIcon {
    display: flex;
    flex-direction: column; /* Faz com que o ícone e a porcentagem fiquem empilhados */
    align-items: center; /* Centraliza o conteúdo do ícone */
}

.topBarIcon .material-icons {
    color: var(--icon-color) !important; /* Usando !important para garantir a aplicação */
    font-size: 20px; /* Tamanho do ícone padrão */
}

.topBarContent {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.icon {
    color: var(--tools-color) !important;
    font-size: 30px;
}

/* Estilo para setas e porcentagens */
.positivo {
    color: green; /* Cor verde para aumento */
}

.negativo {
    color: #f43054; /* Cor vermelha para diminuição */
    font-size: 14px; /* Ajusta o tamanho da fonte da porcentagem */
    margin-top: 5px;
    margin-left: 10px;
}

.porcentagem {
    font-size: 12px; /* Ajusta o tamanho da fonte da porcentagem */
    font-weight: bold; /* Torna a porcentagem mais destacada */
    margin-left: 5px; /* Adiciona um espaço entre o valor e a porcentagem */
    color: gray; /* Ajuste a cor conforme necessário */
}

/* Adicionando novos tamanhos para .title e .value */
.title {
    font-weight: lighter; /* Estilo em negrito para o título */
    margin: 0; /* Remove margem padrão */
    font-size: 16px; /* Aumentando o tamanho da fonte do título */
    color: gray;
}

/* Classe para o valor de hoje */
.valueToday {
    font-weight: bold; /* Negrito para o valor de hoje */
    font-size: 20px; /* Tamanho da fonte para o valor de hoje */
    color: var(--text-color); /* Cor do texto, ajuste conforme necessário */
}

/* Classe para o valor comparativo de ontem */
.valueCompare {
    font-weight: normal; /* Peso normal para o valor comparativo */
    font-size: 14px; /* Tamanho da fonte para o valor comparativo */
    color: gray; /* Cor do texto do valor comparativo */
}

/* Classe para períodos (Hoje: e Ontem:) */
.period {
    font-size: 14px; /* Tamanho da fonte para os períodos */
    color: gray; /* Cor do texto dos períodos */
}

/* Estilos para mobile */
@media (max-width: 768px) {
    .topBar {
        top: 62px; /* Distância do topo da tela igual à altura do Header */
        left: 0; /* Alinha a TopBar à esquerda */
        width: 100%; /* Ocupa toda a largura da tela */
        display: grid; /* Usar grid para melhor controle de layout */
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Organiza em colunas */
        gap: 5px; /* Diminuindo o espaçamento entre os itens */
        padding: 5px; /* Adicionando padding para melhorar a aparência */
        overflow-x: auto; /* Permite rolagem horizontal se necessário */
        white-space: nowrap; /* Impede quebra de linha nos itens */
    }

    .topBarItem {
        height: 50px; /* Altura reduzida para caber na mesma linha */
        flex: 1; /* Faz com que os itens ocupem a mesma largura */
        min-width: 0; /* Permite que os itens sejam flexíveis em largura */
        display: flex; /* Garante que o conteúdo interno também seja flexível */
        align-items: center; /* Centraliza verticalmente o conteúdo */
        justify-content: space-between; /* Espaça o conteúdo interno */
    }

    .topBarIcon .material-icons {
        font-size: 20px; /* Diminuindo o tamanho do ícone para mobile */
    }

    /* Ajustando a fonte do título e valor para mobile */
    .topBarContent h3 {
        font-size: 16px; /* Ajustando a fonte do título para mobile */
        margin: 0; /* Removendo a margem padrão para reduzir espaçamento */
    }

    .topBarContent p {
        font-size: 12px; /* Ajustando a fonte do valor para mobile */
        margin: 0; /* Removendo a margem padrão para reduzir espaçamento */
    }
}

@media (max-width: 480px) {
    .topBarItem {
        height: 40px; /* Altura menor para telas pequenas */
    }

    .topBarIcon .material-icons {
        font-size: 16px; /* Diminuindo ainda mais o tamanho do ícone para telas pequenas */
    }

    /* Ajustando a fonte do título e valor para telas pequenas */
    .topBarContent h3 {
        font-size: 14px; /* Ajustando a fonte do título para telas pequenas */
        margin: 0; /* Removendo a margem padrão para reduzir espaçamento */
    }

    .topBarContent p {
        font-size: 10px; /* Ajustando a fonte do valor para telas pequenas */
        margin: 0; /* Removendo a margem padrão para reduzir espaçamento */
    }
}
