/* Estilos para o topbar */

.topBar {
    position: fixed; /* Torna a TopBar fixa */
    top: 70px; /* Distância do topo da tela igual à altura do Header */
    left: 60; /* Alinha a TopBar à direita do Sidebar */
    width: calc(98% - var(--sidebar-width)); /* Ocupa toda a largura restante da tela */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: var(--margin);
    margin-bottom: var(--margin);
    padding-top: 5px; /* Distância do header */
    background-color: #17181A; /* Cor de fundo */
    z-index: 999; /* Garante que a TopBar fique acima de outros elementos */
}




.topBarItem {
    background: var(--background-color);
    padding: var(--padding);
    border-radius: 10px;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s, box-shadow 0.2s;
    height: 80px;
    border-top-left-radius: 20px; /* Arredonda o canto superior direito */
    border-bottom-left-radius: 20px; /* Arredonda o canto inferior direito */
    border-top-right-radius: 20px; /* Arredonda o canto superior direito */
    border-bottom-right-radius: 20px; /* Arredonda o canto inferior direito */
    
    
}

.topBarItem:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    
}

.topBarIcon .material-icons {
    
    color: var(--icon-color) !important; /* Usando !important para garantir a aplicação */
    font-size: 30px;
    
}


.topBarContent {
    
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    
}
.icon {
    color: var(--tools-color) !important;
    font-size: 30px;
    
    
}
