/* src/styles/dashboardLayout.module.css */

.dashboardLayout {
    display: flex;
    height: 100vh; /* Garante que ocupe a altura total da tela */
}

.sidebar {
    width: var(--sidebar-width);
    height: calc(100% - var(--header-height));
    position: fixed;
    left: 0;
    top: var(--header-height); 
    background-color: var(--secondary-color);
    z-index: 1000;
    padding: var(--padding);
}

.content {
    margin-left: var(--sidebar-width);
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.header {
    height: var(--header-height);
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: var(--sidebar-width);
    right: 0;
    z-index: 1000;
}

.mainContent {
    margin-top: var(--header-height);
    padding: 20px;
    height: calc(100% - var(--header-height) - var(--footer-height));
    overflow-y: auto;
    display: flex;
    justify-content: center; /* Centraliza o container */
    align-items: flex-start;
    background-color: var(--third-color);
}

.fixedContainer {
    width: 90%; /* Ajuste conforme necessário */
    max-width: 1200px; /* Tamanho máximo para manter o container fixo */
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
  
.footer {
    height: var(--footer-height);
    background-color: var(--secondary-color);
    text-align: center;
    padding: 10px;
    color: var(--text-color);
    position: fixed;
    bottom: 0;
    left: var(--sidebar-width);
    right: 0;
    z-index: 1000;
    font-size: 10px;
}
