.filterWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filterSection {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
}

.filterSection p {
    padding: 8px;
    border-radius: 5px;
    border: 0px solid #ccc;
    background-color: var(--background-color);
    color: var(--text-color);
}
