.logPageContainer {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .logsTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .logsTable th,
  .logsTable td {
    border: 1px solid var(--secondary-color);
    padding: 8px;
    text-align: left;
  }
  
  .logsTable th {
    background-color: var(--secondary-color);
    font-weight: bold;
  }
  
  .logsTable tr:nth-child(even) {
    background-color: var(--secondary-color);
  }
  
  .logsTable tr:hover {
    background-color: var(--secondary-color);
  }
  
  .toggleButton {
    background-color: #007bff;
    color: var(--secondary-color);
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .toggleButton:hover {
    background-color: #0056b3;
  }
  
  .logDetails {
    background-color: var(--secondary-color);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: monospace;
    overflow-x: auto;
  }
  