.mainHeader {
    position: fixed; /* Torna o header fixo na parte superior */
    top: 0; /* Alinha o header ao topo da página */
    left: 0; /* Alinha o header à esquerda da página */
    width: 100%; /* Ocupar toda a largura da tela */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 30px 20px; /* Padding para desktop */
    height: var(--header-height);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000; /* Garante que o header fique acima de outros elementos */
}

.headerLogo {
    display: flex;
    align-items: center; /* Para alinhar verticalmente o logo e o texto */
}

.headerLogo img {
    max-width: 80px; /* Reduzindo o tamanho da logo */
    height: auto; /* Mantendo a proporção da logo */
    margin-right: 10px; /* Espaço entre a logo e o texto */
}

.slogan {
    font-size: 15px; /* Ajusta o tamanho do texto do slogan */
    color: var(--text-color);
    font-weight: 100;
    font-style: italic;
}

.headerActions {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative; /* Para o menu */
}

/* Nome do usuário */
.username {
    font-weight: bold;
    color: var(--text-color);
    font-size: 12px; /* Tamanho do nome do usuário */
}

/* Botão de tema visível em ambas as versões */
.themeToggleBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: var(--text-color);
}

/* Botão de logout */
.logoutBtn {
    background-color: var(--background-color);
    color: var(--text-color);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logoutBtn:hover {
    background-color: var(--primary-color);
}

/* Responsividade */
.menuButton {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    display: none; /* Esconde o botão por padrão */
}

/* Estilo do menu de logout */
.menu {
    position: absolute; /* Faz o menu aparecer sobre o conteúdo */
    right: 0; /* Alinha o menu à direita */
    top: 50px; /* Distância do topo */
    background-color: var(--third-color);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 999; /* Garante que o menu fique acima de outros elementos */
}

/* Responsividade para mobile */
@media (max-width: 600px) {
    .menuButton {
        display: block; /* Mostra o botão em dispositivos móveis */
    }
    
    .headerActions {
        display: flex;
        flex-direction: row; /* Mantém em linha */
        gap: 5px; /* Espaçamento reduzido */
    }

    .headerLogo img {
        max-width: 60px; /* Diminuindo o tamanho da logo para mobile */
    }

    .slogan {
        font-size: 12px; /* Diminuindo o slogan para mobile */
    }
}
