.chartSection {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .chartTitle {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .chartContainer {
    display: flex;
    justify-content: space-between;
  }
  
  .chartWrapper {
    width: 48%; /* Para dois gráficos lado a lado */
    height: 300px; /* Altura fixa para o gráfico */
  }
  