/* ChartFilter.module.css */

.filterContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Posiciona o filtro no canto superior direito */
  position: absolute; /* Define posição absoluta dentro do container pai */
  top: 0; /* Coloca no topo */
  right: 0; /* Coloca à direita */
  gap: 10px;
  margin: 10px; /* Ajusta a margem para que não fique encostado nas bordas */
  z-index: 10; /* Garante que esteja acima dos demais elementos, se necessário */
}

.filterWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filterContainer label {
  font-weight: bold;
  margin-right: 5px;
  font-size: 1em;
}

.select {
  padding: 5px;
  border-radius: 4px;
  font-size: 1em;
  border: 1px solid var(--border-color);
  background-color: var(--text-color); /* Fundo consistente com o tema */
  color: var(--secondary-color); /* Cor do texto */
}

/* Responsividade */
@media (max-width: 768px) {
  .filterContainer {
    position: static; /* Reseta a posição em telas menores */
    flex-direction: column;
    align-items: flex-start;
  }
}
