.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    height: calc(94% - 50px);
    width: var(--sidebar-width);
    background-color: var(--third-color);
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    overflow-x: hidden;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: 'Rambla'; /* Aplica a fonte padrão definida */
}

.sidebar h1, 
.sidebar .user-info h2, 
.sidebar .user-info p, 
.sidebar ul li a {
    font-family: 'Rambla'; /* Aplica a fonte padrão definida */
}


.sidebar h1, .sidebar .user-info h2, .sidebar .user-info p, .sidebar ul li a {
    font-family: 'Rambla'; /* Aplica a fonte padrão definida */
}

.sidebar::-webkit-scrollbar {
    width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
    background: #444444; 
    border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color); 
}

.sidebar h1 {
    color: var(--primary-color);
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

.userInfo {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente se necessário */
    margin-bottom: 15px;
    text-align: center; /* Centraliza o texto */
    font-size: 12px;
    font-weight: 400;
}

.userInfo img {
    width: 70px;
    height: 70px;
    border-radius: 50%; /* Tornar a imagem circular */
    margin-bottom: 10px;
}

.sidebar .user-info h2 {
    font-size: 16px;
    color: var(--text-color);
}

.sidebar .user-info p {
    font-size: 12px;
    color: #aaaaaa;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaçamento consistente entre os itens */
}

.sidebar ul li {
    width: 100%;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px;
    color: var(--text-color);
    text-decoration: none;
    text-align: left;
    background-color: transparent;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 14px;
}

.sidebar ul li a:hover {
    background: linear-gradient(135deg, #00d9ff, var(--primary-color));
    transform: scale(1.05);
}

.sidebar ul li a.ferramentas-ia {
    color: var(--accent-color);
}

.sidebarIcon {
    margin-right: 12px; /* Aumente este valor para aumentar a distância */
    color: var(--text-color);
    font-size: 18px;
}

.sidebarIconIA {
    width: 18px; /* Tamanho da imagem */
    height: 18px; /* Tamanho da imagem */
    margin-left: 10px; /* Espaço entre o texto e o ícone */
    vertical-align: middle; /* Alinhamento vertical com o texto */
}

/* Estilo para o alerta "Complete" */
.completeAlert {
    margin-left: 8px;
    color: white;
    padding: 2px 8px;
    border-radius: 12px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Responsividade */
@media (max-width: 600px) {
    .sidebar {
        width: 100%; /* A sidebar ocupa 100% em telas pequenas */
        height: auto; /* A altura se ajusta automaticamente */
        position: relative; /* Muda a posição para não ser fixa */
        top: 0; /* Define o topo para 0 */
    }

    .userInfo img {
        width: 50px; /* Diminuindo o tamanho da imagem do usuário */
        height: 50px;
    }

    .userInfo h2 {
        font-size: 14px; /* Reduzindo o tamanho da fonte */
        
    }

    .sidebar h1 {
        font-size: 20px; /* Ajustando o tamanho da fonte do título */
    }

    .sidebar ul li a {
        font-size: 12px; /* Ajuste no tamanho da fonte dos links */
    }
}

.menuButton {
    background: transparent;
    border: none;
    font-size: 24px;
    color: var(--text-color);
    cursor: pointer;
    margin: 10px;
    display: none; /* Esconde o botão por padrão */
}

/* Menu visível em dispositivos móveis */
.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    background-color: var(--third-color);
    position: absolute;
    top: 60px; /* Abaixo do header */
    left: 0;
    z-index: 1000;
}

/* Mostra o botão do menu em telas menores */
@media (max-width: 600px) {
    .menuButton {
        display: block; /* Mostra o botão em dispositivos móveis */
    }

    .sidebar {
        display: none; /* Esconde a Sidebar em dispositivos móveis */
    }
}
