.title {
    text-align: center;
    color: var(--text-color);
    margin-bottom: 30px;
    font-size: 24px;
}

.toolsGrid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.toolCard {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    position: relative;
    width: 300px;
    min-height: 200px;
    text-align: left;
}

.toolName {
    font-size: 18px;
    color: var(--text-color);
    margin-bottom: 10px;
    text-align: left;
}

.toolDesc {
    font-size: 14px;
    color: var(--text-color);
    margin-bottom: 20px;
    flex-grow: 1; /* Faz com que a descrição ocupe o espaço disponível */
}

.lockIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: gray;
    transition: color 0.3s ease-in-out;
}

.adquiridoButton, .assinarButton {
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    height: 45px;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-weight: bold;
}

.adquiridoButton {
    background-color: green;
    color: var(--text-color);
    border: none;
    background-color: var(--third-color);
}

/* Estilo inicial do botão Ativar */
.assinarButton {
    background-color: #202123;
    color: white;
    border: none;
    position: relative;
    overflow: hidden;
    background-size: 200% 100%;
    transition: background-position 2s ease-in-out, background-color 2s ease-in-out;
}

.assinarButton:hover {
    animation: shake 0.5s infinite;
    background-image: linear-gradient(135deg, #17181A, #02B075, var(--primary-color));
    background-position: 100% 0;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-2px);
    }
    50% {
        transform: translateX(2px);
    }
    75% {
        transform: translateX(-2px);
    }
}

.adquiridoButton:hover {
    background: linear-gradient(135deg, #00d9ff, var(--primary-color));
}

.inactive {
    opacity: 0.5;
}

.custoDentro {
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    margin-left: auto;
}

.categoriaButtons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.categoriaButton {
    padding: 10px 20px;
    border-radius: 5px;
    border: 0px solid var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.categoriaButton:hover {
    background: linear-gradient(135deg, #00d9ff, var(--primary-color));
    color: white;
}

.categoriaAtiva {
    background: linear-gradient(135deg, #00d9ff, var(--primary-color));
    color: white;
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
    .title {
        font-size: 20px; /* Tamanho reduzido do título */
        margin-bottom: 20px; /* Menos margem abaixo do título */
    }

    .toolsGrid {
        display: flex;
        flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha */
        justify-content: space-between; /* Espaço entre os itens */
        gap: 10px; /* Espaçamento entre os itens */
    }

    .toolCard {
        width: calc(50% - 10px); /* Largura de 50% menos espaço para o gap */
        max-width: 400px; /* Largura máxima para garantir legibilidade */
        padding: 15px; /* Menos padding nas ferramentas */
    }

    .toolName {
        font-size: 16px; /* Diminuir o tamanho do nome da ferramenta */
    }

    .toolDesc {
        font-size: 12px; /* Diminuir o tamanho da descrição */
    }

    .adquiridoButton, .assinarButton {
        font-size: 12px; /* Diminuir o tamanho da fonte dos botões */
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 18px; /* Tamanho ainda menor do título */
    }

    .toolCard {
        width: 95%; /* Largura reduzida ainda mais */
        padding: 10px; /* Menos padding nas ferramentas */
    }

    .toolName {
        font-size: 14px; /* Diminuir o tamanho do nome da ferramenta */
    }

    .toolDesc {
        font-size: 10px; /* Diminuir o tamanho da descrição */
    }

    .adquiridoButton, .assinarButton {
        font-size: 10px; /* Diminuir o tamanho da fonte dos botões */
    }
}
.favoritoButton {
    background: none; /* Sem fundo */
    border: none; /* Sem borda */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    position: absolute; /* Para posicionar no canto direito do cartão */
    top: 10px;
    right: 10px; /* Mover para a direita */
}

.favoritoIcon {
    width: 24px; /* Tamanho do ícone */
    height: 24px; /* Tamanho do ícone */
}

.toolCard {
    /* O restante do estilo do cartão... */
    position: relative; /* Para garantir que o botão de favorito esteja posicionado corretamente */
}

/* O restante dos estilos existentes... */
